/node_modules
/public/hot
/public/storage
/public/images
/public/js
/public/css
/public/docs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
pf.bat
pu.bat
/storage/logs/laravel.log
/storage/*.index
/var
