@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'bootstrap';

body {
  background: url('../images/bg.svg') 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  background: white;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
}
