@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'bootstrap';

:root {
  --background-color: #EAF2FF;
  --block-border-radius: 20px;
    --block-border-radius-small: 10px;
  --block-padding: 20px;
  --block-gutter-y: 20px;
  --block-gutter-x: 20px;

  --text-color: #949494;

  --button-bg-primary: #39A0FF;
  --button-bg-secondary: #E78A00;
}

body {
  background: url('../images/bg.svg') 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 14px;
}

.footer {
  background: var(--background-color);
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.link {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.link:hover {
  color: #333;
}

.selected-link {
  font-weight: 600;
}

.container {
  padding-left: 0;
  padding-right: 0;
}
.row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
}

.btn {
  border: none;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-primary {
  background: var(--button-bg-primary);
}

.btn-warning {
  background: var(--button-bg-secondary);
  color: white;
}

.btn-primary:active:focus, .btn-primary.active:focus {
  box-shadow: none;
  outline: none;
}

.btn-warning:active:focus, .btn-warning.active:focus {
  box-shadow: none;
  outline: none;
}

.btn-warning:hover {
  color: white;
}
